.edit-modal {
  background-color: $grey-100;

  .edit-modal-container {
    h1 {
      color: $green-light;
      padding: 20px;
    }
    position: relative;
    height: 500px;
    border: solid $green-light 2px;
    border-radius: 6px;

    .edits-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 20px;

      h4 {
        padding-left: 20px;
        color: $text-white;
      }

      p {
        margin-top: 10px;
        padding: 20px;
        color: $text-white;
        width: 455px;
        overflow: auto;
        height: 200px;
      }
      svg {
        cursor: pointer;
      }
    }
    .input-name-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      display: none;
      margin: 20px;
      svg {
        cursor: pointer;
      }
      .input-name {
        margin-top: 20px;
        margin-right: 20px;
        background-color: $grey-200;
        color: $text-white;
        border-radius: 10px;
        border: none;
      }
    }

    button {
      background-color: $green-light;
      color: $grey-100;
      height: 2.3rem;
      border: none;
      border-radius: 6px;
      width: 9rem;
      font-family: 'Quicksand', sans-serif;
      font-size: 1rem;
      margin: 20px 300px;

      :hover {
        cursor: pointer;
        background-color: $grey-200 !important;
        color: $green-light;
        transition: 0.5s;
      }
    }
    .text-description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        margin-top: 20px;
        padding-left: 20px;
        color: $text-white;
      }
      p {
        margin-top: 10px;
        max-height: 100px;
        padding: 0px 0px 20px 20px;
        color: $text-white;
        width: 400px;
        overflow: auto;
      }
      svg {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .input-description-container {
      display: none;
      justify-content: space-between;
      align-items: center;
      width: 200px;

      .description-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-description {
          margin-top: 10px;
          margin-left: 20px;
          width: 380px;
          height: 80px;
          background-color: $grey-200;
          color: $text-white;
          border-radius: 10px;
          border: none;
          resize: none;
        }
        svg {
          margin-right: 23px;
          cursor: pointer;
        }
      }
    }
  }
  .button-modal {
    position: absolute !important;
    bottom: 0;
  }
}
